body, html {
    background-image: url('background_eggs.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    /* overflow-x: hidden; */
}

.container {
    display: grid;
    /* position: fixed; */
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "nav"
    "article"
    "footer";
    text-align: center;
    justify-content: center;
    margin: 5vw 0 5vw 0;
    width: 100vw;
}
.container > * {
    display: flex;
    max-width: 95vw;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

header {
    grid-area: header;
    font-family: fantasy;
    font-size: 25vw;
}

nav {
    grid-area: nav;
    flex-direction: row !important;
}

article {
    grid-area: article;
    border-style: solid;
    border-width: 0.5vw;
    background-color: rgba(87, 188, 235, 0.801);
    padding: 1vw;
    font-size: 2vw;
    margin: 0 1vw 0 1vw;
    /* justify-content: center;
    justify-items: center; */
}

footer {
    grid-area: footer;
}
