<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!

<p>
<form action="" method="post">
    {% csrf_token %}
    <label for="new_post">New Post:</label><br>
    <textarea id="new_post" name="new_post" rows="4" cols="50">Max 280 characters
        </textarea>
    <input type="submit" value="Submit">
</form>
</p>

<p><a href="{% url 'logout' %}">Log Out</a></p>

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}