<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!

<p>
<form action="{% url 'posts:add_post' %}" method="post">
    {% csrf_token %}
    <label for="new_post">New Post:</label><br>
    <textarea id="new_post" name="new_post" rows="4" cols="50">Max 280 characters
        </textarea>
    <input type="submit" value="Submit">
</form>
</p>

<h2>My Posts</h2>
{% if posts %}

<ul>
    {% for p in posts %}
    {% if p.user_id == user.id %}
    <li>{{ p.post_text }}</a></li>
    {% endif %}
    {% endfor %}
</ul>

{% else %}
<p>No posts are available.</p>

{% endif %}


{% else %}
<p>You are not logged in</p>

{% endif %}
{% endblock %}