<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/app.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <h3>Online Dictionary<br>
            <input id="search" type="text" v-model="userInput" placeholder="Search Dictionary">
            <button v-on:click="getDefinition()">Search</button><br><br>
            {{ output }}
            <a v-bind:href="audio" target="_blank"><button>Listen</button></a>
            <!-- <div v-for="(item, index) in output">
                "{{ item }}"<br>
                - {{ item }}<br><br>
            </div> -->
    </div>
</body>
</html>