<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/app.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <h3>Online Dictionary</h3><br>
            <input id="search" type="text" v-model="userInput" placeholder="Search Dictionary">
            <button v-on:click="getDefinition()">Search</button><br><br>
            <p v-if="searchError"></p>
            <p v-if="output.length > 0">Definition: {{ output }}</p><br>
            <a v-bind:href="audio" target="_blank"><button v-if="output.length > 0">Listen</button></a>
            <button v-if="output.length > 0" v-on:click="saveNewWord()">Save</button><br><br>
            <!-- <p>Pronunciation: {{ pronunciation }}</p> -->
            <div v-for="(item, index) in savedWords">
                <span style="text-transform:capitalize;">{{ item.word }}: {{ item.definition }}</span>
                <button v-on:click="deleteWord(item)">Delete</button>
            </div>
    </div>
</body>
</html>