body {
    background: url("dictionary.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    /* margin: auto */
}

.container {
    display: grid;
    grid-template-areas: 
    "header"
    "search"
    "result"
    "saved";
    text-align: center;
    justify-content: center;

}

/* .container > *{
    display: flex;
    max-width: 95vw;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
} */

header {
    grid-area: header;
    background-color: rgb(226, 153, 43);
    width: 100vw
}

search {
    grid-area: search;
    margin: 2vw 0 2vw 0;
}

result {
    grid-area: result;
}

saved {
    grid-area: saved;
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    justify-content: center;
    /* align-content: center; */
    max-width: 75vw;
    margin: 2vw, 10vw, 2vw, 10vw;
}

img {
    max-width: 15px;
    max-height: 15px;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
}