{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
Hey there, {{ user.username }}!

<h1>Chirp Here</h1>

<p>
<form action="{% url 'new_post' %}" method="post">
    {% csrf_token %}
    <label for="new_post">Chirp Something!</label><br>
    <textarea name="new_post" id="new_post" cols="30" rows="10"></textarea>
    <input type="submit">
</form>
</p>

<p><a href="{% url 'logout' %}">Log Out</a></p>

{% else %}
<p>You aren't logged in!</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}

<h2>My Chirps</h2>
{% if posts %}
{% for p in posts %}
<h3>{{ p.user.username }} -posted- <span id="date-posted">{{ p.date_posted }}</span></h3>
{{ p.content }}
{% endfor %}
{% endif %}
{% endblock %}