<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>

<body>

    {% for todo in context['todos'] %}
    <form action="/delete-todo/" method="post">
        <h3>{{ todo.text.capitalize() }} has a {{ todo.priority.title() }} priority. </h3>
        <input type="submit" name="{{ todo }}" value="delete">
        <input type="text" name="todo-number" value="{{ todo.todo_id }}" hidden>
    </form>
    {% endfor %}


    <form action="/submit-todo/" method="post">
        <input type="text" name="todo-item" placeholder="Enter a task:"><br \>

        <select name="priority" id="priority">
            <option value="priority" selected disabled>Priority</option>
            <option value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
        </select><br \>

        <input type="submit">
    </form>
</body>

</html>