<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Add your styles here! -->
    <link rel="stylesheet" href="css/site.css" />
    <!-- Include Vue from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Include the JS file where your Vue instance is defined -->
    <script src="js/site.js" defer></script>

    <title>My Todo List</title>
</head>

<body>
    <h1>My To-Do List</h1>

    <div id="app">

        <!-- Add functionality to add items to todo -->
        <form v-on:submit.prevent="addNewTodo">
            <label for="new-todo" class="title">Add a todo</label>
            <input
              v-model="newTodoText"
              placeholder="E.g. Feed the cat">
            <button>Add</button>

            <ul>
                <p>Incomplete todos:</p>{{ incompleteTodos }}
                <p>omplete todos:</p>{{ completeTodos }}
                
                
                <div id="imcomplete-todos" class="title">Incomplete Todos:</div>
                <li v-for="(todo, index) in incompleteTodos" :key="todo.id">— {{ todo.item }} | {{ index }}<br ><button @click="removeTodo(todo)">Remove</button>
                    <button @click="markComplete(index)">Mark Todo Complete</button></li>
                </ul>
                
        <ul>
            <li v-for="(todo, index) in completeTodos" :key="todo.id">— {{ todo.item }} | {{ index }}<br ><button @click="removeTodo(todo)">Remove</button>
        </ul>



        
        </div>
    </div>
</body>
</html>