<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
    <link rel="stylesheet" href="{% static 'css/style.css' ">
    <title>{% block title %}Chirp{% endblock %}</title>
</head>
<body>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <div class="container">
            <footer class="page-footer">
                <div class="container">
                  <div class="row">
                    <div class="col l6 s12">
                      <h5 class="white-text">Do you like Chirp?</h5>
                      <p class="grey-text text-lighten-4">You can support the project by donating about tree-fiddy. You'll get a nice blue batch next to your username to let everyone know you're a supporter!</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                      <h5 class="white-text">Links</h5>
                      <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Hoot</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Screech</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Honk</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="footer-copyright">
                  <div class="container">
                  © 2022 Nicholas Murdaugh
                  <a class="grey-text text-lighten-4 right" href="#!"></a>
                  </div>
                </div>
              </footer>
        </div>
     </body>
</html>