<head>
    <meta charset="UTF-8">
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> <!-- Import Vue 2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script> <!-- Import Axios -->
    <script src="js/site.js" defer></script> <!-- javascript file -->
    <link rel="stylesheet" href="css/site.css"> <!-- css stylesheet -->
    <title>Quote Time</title>
</head>

<body>
    <div id="app" class="container">

        <div class="text-center">
            <h1 class="text-center">FavQuotes</h1>
        </div>

        <section v-if="errored">
            <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
        </section>
        
        <div>
            <form @submit.prevent="searchQuote">
                <label>
                    <input type="text" v-model="searchTerm" placeholder="Brevity is the soul of wit..."><br>
                </label>
            
                <div class="options-container">
                    <label v-for="option in searchOptions" :key="option.value">
                        <input type="radio" v-model="searchOption" :value="option.type">
                        {{ option.label }}
                    </label>
                    <button type="submit">Search</button>
                </div>
            </form>
        </div>

        <button class="btn btn-primary" @click="randQuotes">Get 25 random quotes</button>

        <quote-title :is-search="isSearch"></quote-title>
        <ul v-for="quote in quotes" :key="quote.id" >
            <li>
                <div class="card">
                    {{ quote.body }}
                </div>
                <div class="author">
                    — {{ quote.author }}
                </div>
            </li>
        </ul>

    </div>
</body>

</html>