<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}ChirpApp{% endblock %}</title>
    </head>

    <body>
        <header>
            <nav>
                <a href="{% url 'chirpapp-home' %}">Home</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'post-create' %}">Create a Chirp!</a>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register-users' %}">Register</a>
                {% endif %}
            </nav>
        </header>
        <main>
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
            {% block content%}
            {% endblock %}
        </main>
    </body>

</html>