<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Grocery List</title>
</head>


<body>
    <h1>Welcome to my grocery list!</h1>
    <p>The user should be presented with an input field and a button (in a form).</p>
    <p>When the user clicks the button, it should save the data to the server and show the newly-added item in the list.</p>
    <p>The user should be presented with a list of incomplete items and a list of complete items.</p>
    <p>The user should be able to mark an item complete/incomplete and be able to delete an item.</p>
    
    <form action="{% url 'grocery_list:add_item' %}" method="post">
        {% csrf_token %}
        <label for="input_item">Add a new item:</label>
        <input type="text" name="input_item" id="input_item">
        <input type="submit">
    </form>
    
    <h1>Incomplete Items:</h1>
    
    {% if latest_grocery_items %}
    <ul>
        {% for item in latest_grocery_items %}
        {% if item.is_complete == False %}
        <li><a href="{% url 'grocery_list:detail' item.id %}">{{ item.text_desc }}</a></li>
        <form action="{% url 'grocery_list:delete_item' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="delete_item" value="{{ item.id }}">
            <input type="submit" value="Delete">
        </form>
    {% endif %}
    {% endfor %}
    </ul>

    <h1>Complete Items:</h1>
    <ul>
    {% for item in latest_grocery_items %}
    {% if item.is_complete == True %}
    <li><a href="{% url 'grocery_list:detail' item.id %}">{{ item.text_desc }}</a></li>
    {% endif %}
    {% endfor %}
    </ul>
    
{% else %}
    <p>Your grocery list is empty.</p>
{% endif %}
</body>
</html>