/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    top: 50px;
    width: 400px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Sidebar links */
/* .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
} */

/* Active/current link */
/* .sidebar a.active {
    background-color: #04AA6D;
    color: white;
} */

/* Links on mouse-over */
/* .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
} */

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    /* position: fixed; */
    overflow: auto;
    margin-top: 100px;
    margin-left: 450px;
    padding: 1px 16px;
}

#myChart {
    margin-top: 0px !important;
    height: 750px !important;
    width: 1125px !important;
    border-style: solid;
}

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav-li {
    float: left;
    border-left: 1px solid #bbb;
}

#nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-li:first-child {
    border-left: none;
    /* padding-left: 25px; */
    background-color: #04AA6D;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: #111;
    text-align: center;
}

#summary {
    margin-top: 0px;
}

#long-summary {
    font-size: 0.8rem !important;
}

/* modal styling from https://codepen.io/immarina/pen/oNxXWKa */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #04AA6D;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

/*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

.modal-enter-from,
.modal-leave-to {
    opacity: 0;
}

.modal-enter-active .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
/* @media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
} */

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
/* @media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
} */