<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josh HTML Lab 05</title>
</head>
<body>
    <form action="/" method="get">
        <label for="user_distance">User Distance:</label>
        <input type="text" id="user_distance" name="user_distance"><br><br>
        <label for="units_input">Units Input</label>
        <input type="text" id="units_input" name="units_input"><br><br>
        <label for="units_output">Units Output</label>
        <input type="text" id="units_output" name="units_output"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>