<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Josh HTML Lab 05</title>
</head>
<body>
    <h2>Unit Converter</h2>
    {{ context.user_distance }}{{ context.units_input }} is {{ context.new_units }}{{ context.units_output }}.

    <form action="/" method="post">
        <label for="user_distance">Enter distance as a number: </label>
        <input type="text" id="user_distance" name="user_distance"><br><br>
        <label for="units_input">Enter current unit of measure (in, ft, m, yd, mi): </label>
        <input type="text" id="units_input" name="units_input"><br><br>
        <label for="units_output">Enter desired unit of measure (in, ft, m, yd, mi): </label>
        <input type="text" id="units_output" name="units_output"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>