html {
    box-sizing: bprder-box;
}
*, *:before, *after {
    box-sizing: inherit;
}

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0D253D;
    color-scheme: dark;
    color: #D2838F;
}
.spaceCat {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.CHTOhoRNZ7OAx-uR7w0uDwHaEK%26pid%3DApi&f=1&ipt=08cb8a183ce83422850636e4d22f13556bf92e356bb93da233e2e8cb94e4044a&ipo=images");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:aliceblue;
    margin-top: 2em;
    margin-left: 20em;
    margin-right: 20em;
    /* width: 50vw; */
    height: 200px;
    padding: 1em;
}
.salem {
    margin: .25em 3em .0em .0em;
    font-family: 'Rubik Microbe', cursive;
    font-size: 5em;  
}  

/* #s {
    margin: 1em;
}
#a {
    margin: 2em;
}
#l {
    margin: 3em;
}
#e {
    margin: 4em;
}
#m {
    margin: 5em;
}
     */

p {s
    padding: 32px;
    margin: 16px;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    color:#27C3A0;
}
img {
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 300px;
    height: 350px;
}
ul {
    list-style-type: square;
    margin-top: -16px;
    margin-bottom: 64px; 
}
q{
    font-family: fantasy;
    margin-top: 64px;
    margin-bottom: 16px;
    padding-top: 64px;
}

