{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              default header
            </slot>
          </div>  

          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              default footer
              <button class="modal-default-button" @click="$emit('close')">
                Cancel
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
</script>

<div id="app" v-bind:user_id="{{ user_id }}">
    <div class="sidebar">
        {% if user.is_authenticated %}
        <h1>Welcome {{ user.username }}!</h1>
        <button id="show-modal" @click="showModal = true">Create an Index</button>
        <!-- use the modal component -->
        <transition name="modal">
            <modal v-if="showModal" @close="showModal = false">
                <!--
        you can use custom content here to overwrite
        default content
      -->
                <template v-slot:header>
                    <h3>Create a new Personalized Index</h2>
                </template>
                <template v-slot:body>
                    <form @submit="createPersonalizedIndex">
                        {% csrf_token %}
                        <label for="index_name">Index Name:</label>
                        <input type="text" v-model="index_name" id="index_name" required>
                        <br>
                        <label for="index_allocation">Index Allocation:</label>
                        <input type="text" v-model="index_allocation" id="index_allocation" required>
                        <br>
                        <label for="market_cap_min">Market Cap Min:</label>
                        <input type="text" v-model="market_cap_min" id="market_cap_min" required>
                        <br>
                        <label for="dividend_yield_min">Dividend Yield Min:</label>
                        <input type="text" v-model="dividend_yield_min" id="dividend_yield_min" required>
                        <br>
                        <label for="pe_ratio_max">PE Ratio Max:</label>
                        <input type="text" v-model="pe_ratio_max" id="pe_ratio_max" required>
                        <br>
                        <label for="sector_exclude_1">Sector Exclude 1:</label>
                        <input type="text" v-model="sector_exclude_1" id="sector_exclude_1" required>
                        <br>
                        <label for="sector_exclude_2">Sector Exclude 2:</label>
                        <input type="text" v-model="sector_exclude_2" id="sector_exclude_2" required>
                        <br>
                        <button type="submit" class="modal-default-button" @click="$emit('close')">Create Index</button>
                    </form>
                </template>
                <template v-slot:footer>

                </template>
            </modal>
        </transition>
        {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}

    </div>
    <div class="content">
        <h2>Edit an existing Personalized Index</h2>
        <form @submit="editPersonalizedIndex(edit_index_id)">
            {% csrf_token %}
            <label for="edit_index_id">Index ID:</label>
            <input type="text" v-model="edit_index_id" id="edit_index_id" required>
            <br>
            <label for="edit_index_name">Index Name:</label>
            <input type="text" v-model="edit_index_name" id="edit_index_name" required>
            <br>
            <label for="edit_index_allocation">Index Allocation:</label>
            <input type="text" v-model="edit_index_allocation" id="edit_index_allocation" required>
            <br>
            <label for="edit_market_cap_min">Market Cap Min:</label>
            <input type="text" v-model="edit_market_cap_min" id="edit_market_cap_min" required>
            <br>
            <label for="edit_dividend_yield_min">Dividend Yield Min:</label>
            <input type="text" v-model="edit_dividend_yield_min" id="edit_dividend_yield_min" required>
            <br>
            <label for="edit_pe_ratio_max">PE Ratio Max:</label>
            <input type="text" v-model="edit_pe_ratio_max" id="edit_pe_ratio_max" required>
            <br>
            <label for="edit_sector_exclude_1">Sector Exclude 1:</label>
            <input type="text" v-model="edit_sector_exclude_1" id="edit_sector_exclude_1" required>
            <br>
            <label for="edit_sector_exclude_2">Sector Exclude 2:</label>
            <input type="text" v-model="edit_sector_exclude_2" id="edit_sector_exclude_2" required>
            <br>
            <button type="submit">Save Edits</button>
        </form>

        <h2>List of existing Personalized Indexes</h2>
        <ul>
            <li v-for="index in indexes">
                <ul>
                    <li>Index Number: [[ index.id ]]</li>
                    <li>Index Name: [[ index.index_name ]]</li>
                    <li>Index Allocation: [[ index.index_allocation]]</li>
                    <li>Market Cap Min: [[ index.market_cap_min]]</li>
                    <li>Dividend Yield Min: [[ index.dividend_yield_min]]</li>
                    <li>PE Ratio Max: [[ index.pe_ratio_max]]</li>
                    <li>Sector Exclude 1: [[ index.sector_exclude_1 ]]</li>
                    <li>Sector Exclude 2: [[ index.sector_exclude_2 ]]</li>
                </ul>
                <button @click="deletePersonalizedIndex(index.id)">Delete</button>
                <button @click="getOrders(index.id)">Download Orders</button>
                <button @click="getIndex(index.id)">Download Personalized Index</button>
            </li>
        </ul>
    </div>
</div>

<script>
    const { createApp } = Vue

    createApp({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: function () {
            return {
                user: '',
                indexes: [],
                index_name: '',
                index_allocation: '',
                market_cap_min: '',
                dividend_yield_min: '',
                pe_ratio_max: '',
                sector_exclude_1: '',
                sector_exclude_2: '',
                edit_index_id: '',
                edit_index_name: '',
                edit_index_allocation: '',
                edit_market_cap_min: '',
                edit_dividend_yield_min: '',
                edit_pe_ratio_max: '',
                edit_sector_exclude_1: '',
                edit_sector_exclude_2: '',
                csrfToken: '',
                showModal: false,
            }
        },
        components: {
            modal: {
                template: '#modal-template'
            }
        },
        mounted() {
            // fetch the CSRF token from a meta tag when the component is created
            this.csrfToken = document.querySelector("input[name=csrfmiddlewaretoken]").value;
            console.log(`the component is now mounted.`);
        },
        methods: {
            fetchPersonalizedIndex: function () {
                axios.get('/apis/v1/')
                    .then(response => {
                        this.indexes = response.data;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            createPersonalizedIndex: function (event) {
                event.preventDefault();
                axios.post('/apis/v1/', {
                    index_name: this.index_name,
                    index_allocation: this.index_allocation,
                    market_cap_min: this.market_cap_min,
                    dividend_yield_min: this.dividend_yield_min,
                    pe_ratio_max: this.pe_ratio_max,
                    sector_exclude_1: this.sector_exclude_1,
                    sector_exclude_2: this.sector_exclude_2,
                    user: this.user_id,
                }, {
                    headers: {
                        'X-CSRFToken': this.csrfToken,
                    },
                })
                    .then(response => {
                        // Assume that the response data is a list of items
                        let items = response.data;
                        // Loop through the list of items
                        for (let i = 0; i < items.length; i++) {
                            let item = items[i];
                            // Append the item to the list
                            this.itemList.push(item);
                        }
                    });
            },
            deletePersonalizedIndex: function (indexId) {
                axios.delete(`/apis/v1/${indexId}/`, {
                    headers: {
                        'X-CSRFToken': this.csrfToken,
                    },
                })
                    .then(response => {
                        console.log(response.data);
                        this.indexes = this.indexes.filter(p => p.number !== indexId);
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            editPersonalizedIndex: function (indexId) {
                axios.put(`/apis/v1/${indexId}/`, {
                    index_name: this.edit_index_name,
                    index_allocation: this.edit_index_allocation,
                    market_cap_min: this.edit_market_cap_min,
                    dividend_yield_min: this.edit_dividend_yield_min,
                    pe_ratio_max: this.edit_pe_ratio_max,
                    sector_exclude_1: this.edit_sector_exclude_1,
                    sector_exclude_2: this.edit_sector_exclude_2,
                }, {
                    headers: {
                        'X-CSRFToken': this.csrfToken,
                    },
                })
                    .then(response => {
                        console.log(response.data);
                        this.fetchPersonalizedIndex();
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            async getOrders(index_id) {
                try {
                    const { data } = await axios.get('/apis/v1/download/orders/' + index_id + '/');

                    console.log(index_name)
                    const response = await axios({
                        url: '/apis/v1/download/orders/' + index_id + '/',
                        method: 'GET',
                        responseType: 'blob',
                    });
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'orders_' + index_id + '.csv'); //, `orders_${index_name}.csv`); //.replace('${index_name}', index_name));
                    document.body.appendChild(link);
                    link.click();
                } catch (error) {
                    console.log(error);
                }
            },
            async getIndex(index_id) {
                try {
                    const { data } = await axios.get('/apis/v1/download/index/' + index_id + '/');

                    console.log(index_name)
                    const response = await axios({
                        url: '/apis/v1/download/index/' + index_id + '/',
                        method: 'GET',
                        responseType: 'blob',
                    });
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'personalized_index_' + index_id + '.csv');
                    document.body.appendChild(link);
                    link.click();
                } catch (error) {
                    console.log(error);
                }
            },
        },
        created: function () {
            this.fetchPersonalizedIndex();
        },
    }).mount('#app')
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: table;
        transition: opacity 0.3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 350px;
        height: 275px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        transition: all 0.3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    .modal-enter-from,
    .modal-leave-to {
        opacity: 1;
    }

    .modal-enter-active .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>

{% endblock %}