{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div id="app" v-bind:user_id="{{ user_id }}">
    <div class="sidebar">
        {% if user.is_authenticated %}
        <h1>Welcome {{ user.username }}!</h1>
        {% csrf_token %}
        {% else %}
        <p>You are not logged in</p>
        {% endif %}
    </div>
    <div class="content">

        <h1>Welcome to Vest - The free investor portal</h1>
        <h3>Investing tools and research hub</h3>
        <p>Plan for retirement with our <a href="{% url 'cash_flow' %}">Cash Flow Planning</a> tool.</p>
        <p>Research stock price information and important company metrics in our <a href="{% url 'research' %}">Research
                Hub</a>.</p>
        {% if user.is_authenticated %}
        <p>Create your stock portfolio with Vesto's <a href="{% url 'personalized_index' %}">Personalized Index</a>
            tool.
        </p>
        {% else %}
        <p><a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">signup</a> to create your stock
            portfolio with Vesto's <a href="{% url 'personalized_index' %}">Personalized Index</a> tool.</p>
        {% endif %}
    </div>
    <div class="footer">
        <p> &copy; 2023 <b>JAMES BRENNAN</b>, source code released under the GNU General Public License</p>
    </div>
</div>

<script>
    const { createApp } = Vue

    createApp({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: function () {
            return {
                user: '',
                indexes: [],
                index_name: '',
                index_allocation: '',
                market_cap_min: '',
                dividend_yield_min: '',
                pe_ratio_max: '',
                sector_exclude_1: '',
                sector_exclude_2: '',
                edit_index_id: '',
                edit_index_name: '',
                edit_index_allocation: '',
                edit_market_cap_min: '',
                edit_dividend_yield_min: '',
                edit_pe_ratio_max: '',
                edit_sector_exclude_1: '',
                edit_sector_exclude_2: '',
                csrfToken: '',
                modal: 'create',
                showModal: false,
                stats: [],
            }
        },
        components: {
            modal: {
                template: '#modal-template'
            }
        },
        mounted() {
            // fetch the CSRF token from a meta tag when the component is created
            this.csrfToken = document.querySelector("input[name=csrfmiddlewaretoken]").value;
            console.log(`the component is now mounted.`);
        },
        methods: {
            setModalType(type) {
                this.modalType = type;
            },
            fetchPersonalizedIndex: function () {
                axios.get('/apis/v1/')
                    .then(response => {
                        this.indexes = response.data;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            createPersonalizedIndex: function (event) {
                event.preventDefault();
                axios.post('/apis/v1/', {
                    index_name: this.index_name,
                    index_allocation: this.index_allocation,
                    market_cap_min: this.market_cap_min,
                    dividend_yield_min: this.dividend_yield_min,
                    pe_ratio_max: this.pe_ratio_max,
                    sector_exclude_1: this.sector_exclude_1,
                    sector_exclude_2: this.sector_exclude_2,
                    user: this.user_id,
                }, {
                    headers: {
                        'X-CSRFToken': this.csrfToken,
                    },
                })
                    .then(response => {
                        // Assume that the response data is a list of items
                        let items = response.data;
                        // Loop through the list of items
                        for (let i = 0; i < items.length; i++) {
                            let item = items[i];
                            // Append the item to the list
                            this.itemList.push(item);
                        }
                    });
            },
            deletePersonalizedIndex: function (indexId) {
                axios.delete(`/apis/v1/${indexId}/`, {
                    headers: {
                        'X-CSRFToken': this.csrfToken,
                    },
                })
                    .then(response => {
                        console.log(response.data);
                        this.indexes = this.indexes.filter(p => p.number !== indexId);
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            editPersonalizedIndex: function (indexId) {
                axios.put(`/apis/v1/${indexId}/`, {
                    index_name: this.edit_index_name,
                    index_allocation: this.edit_index_allocation,
                    market_cap_min: this.edit_market_cap_min,
                    dividend_yield_min: this.edit_dividend_yield_min,
                    pe_ratio_max: this.edit_pe_ratio_max,
                    sector_exclude_1: this.edit_sector_exclude_1,
                    sector_exclude_2: this.edit_sector_exclude_2,
                }, {
                    headers: {
                        'X-CSRFToken': this.csrfToken,
                    },
                })
                    .then(response => {
                        console.log(response.data);
                        this.fetchPersonalizedIndex();
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            async getOrders(index_id) {
                try {
                    const { data } = await axios.get('/apis/v1/download/orders/' + index_id + '/');

                    const response = await axios({
                        url: '/apis/v1/download/orders/' + index_id + '/',
                        method: 'GET',
                        responseType: 'blob',
                    });
                    console.log(response.data)
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'orders_' + index_id + '.csv');
                    document.body.appendChild(link);
                    link.click();
                } catch (error) {
                    console.log(error);
                }
            },
            async getIndex(index_id) {
                try {
                    const { data } = await axios.get('/apis/v1/download/index/' + index_id + '/');

                    const response = await axios({
                        url: '/apis/v1/download/index/' + index_id + '/',
                        method: 'GET',
                        responseType: 'blob',
                    });
                    console.log(response.data)
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'personalized_index_' + index_id + '.csv');
                    document.body.appendChild(link);
                    link.click();
                } catch (error) {
                    console.log(error);
                }
            },
            async getIndexStats(index_id) {
                try {
                    const response = await axios.get(`/apis/v1/personalizedindexstats/${index_id}/`);
                    this.stats = response.data;
                    console.log(response.data)
                } catch (error) {
                    console.log(error);
                }
            },
        },
        created: function () {
            this.fetchPersonalizedIndex();
        },
    }).mount('#app')
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: table;
        transition: opacity 0.3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 350px;
        height: 275px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        transition: all 0.3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    .modal-enter-from,
    .modal-leave-to {
        opacity: 0;
    }

    .modal-enter-active .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>

{% endblock %}