<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Picker</title>
</head>

<!-- my editor doesn't like this :( but it works! -->
<!-- <body style="background-color: {{ color }}"> -->

<body>
    <form action="/color/" method="post">
        <input type="color" name="color">
        <input type="submit" value="Show my color!">
    </form>

</body>

</html>