body {
    background-color: rgb(146, 146, 146, 0.5);
    background-image: url("https://wallpaperaccess.com/full/4051801.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  .center{
    margin:auto;
  }