<!DOCTYPE html>
<html lang='en'>

    <head>
        <meta charset='UTF-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel='preconnect' href='https://fonts.googleapis.com'>
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
        <link href='https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap' rel='stylesheet'>
        {% load static %}
        <link rel='stylesheet' href="{% static 'urlapp/style.css' %}">
        <title>Document</title>
    </head>

    <body>
        <h3>Enjoy your brand new URLs!</h3><br>
        <table style="border:1px solid #000" id='table'>
            <thead>
                <tr>
                    <th>Long URL</th>
                    <th>Short URL</th>
                    <th>times link clicked</th>
                </tr>
            </thead>
            {% for u in url %}
            <tbody>
                <tr>
                    <td>{{ u.long_url }}</td>
                    <td><a href="{% url 'urlapp:direct_user' short=u.short_code %}">{{ u.short_code }}</a></td>
                    <td>{{ u.times_clicked }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </body>

</html>