<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <table border="3px solid #000">
            <thead>
                <tr>
                    <th>Long URL</th>
                    <th>Short URL</th>
                </tr>
            </thead>
            {% for u in url %}
            <tbody>
                <tr>
                    <td>{{ u.long_url }}</td>
                    <td><a href="{{u.long_url}}">{{ u.short_code }}</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </body>

</html>