<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>URL Shortener</title>
    </head>

    <body>
        <a href="url_created">View URL</a>
        <h1>URL Shortener</h1>

        <form action="createshorturl/" method="POST">
            {% csrf_token %}
            <label for="long_url">Enter long URL here</label>
            <input type="text" name="long_url" id="long_url">
            <input type="submit">
        </form>

    </body>

</html>