<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAVQs Reader</title>
</head>

<body>
    <div id="app">
        <h1>FAVQs Reader</h1>
        <h2>Quote Search</h2>
        <div>
            <form @submit.prevent="searchQuotes">
                <label>
                    Search Term:
                    <input type="text" v-model="searchTerm" />
                </label>
                <br />
                <label v-for="option in searchOptions" :key="option.value">
                    <input type="radio" v-model="searchOption" :value="option.type" /> {{ option.label }}
                </label>
                <br />
                <button type="submit">Search</button>
            </form>
        </div>
        <section-title :is-search="isSearch"></section-title>
        <ol>
            <li v-for="quote in quotes" :key="quote.id">
                {{ quote.author}} once said, "{{ quote.body }}"
            </li>
        </ol>
        <button @click="fetchQuotes">Load 25 More Quotes</button>
    </div>
    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/site.js"></script>
</body>

</html>