@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Sina Nova Regular", Palatino, Georgia, 'Times New Roman', Times, serif;
}

body {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgb(176, 119, 119);
}

header {
    background-color: rgb(130, 85, 85);
}

header,
footer {
    font-size: 40px;
    
    /* topbottom leftright */
    padding: 2rem 0;
    text-align: center;
}

p, input, button {
letter-spacing: -.003em;
font-weight: 400;
font-size: 20px;
line-height: 1.58;
}

li {
    list-style: none;
}

footer {
    background-color: green
}