<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bob's Burgers</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="lab07.js" defer></script>
        <link rel="stylesheet" href="styles.css">

    </head>

    <body>
        <div id="app">

            <h1>Bob's Burgers Characters</h1><br>

            <div id="search">
                <input type="text" id="search" v-model='searchInput' placeholder="ex: 'Linda' or 'Linda Belcher' ">
                <button @click="searchForChar">Search for character</button>
            
                <img id="searchImg" :src="searchResults.image">

                <a :href="searchResults.wikiUrl">{{ searchResults.name }}</a>
            </div>



            <div v-for="char in characters" :key="char.id" class="characters">
                <div>
                    <img :src="char.image">

                    <a :href="char.wikiUrl">{{ char.name }}</a>
                </div>
            </div>



    </body>

</html>