body{
    background-color: rgb(116, 7, 7); /*add color*/
    background-image: url("https://live.staticflickr.com/4154/4836462339_32a1c8aa2b.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
}
.container {
    display: grid;
    text-align: center;
    grid-template-areas: 
    "header"
    "body"
    "footer";
    background-color: rgba(165, 42, 42, 0.5);

} 

.container > *{
    display: flex;
    flex-flow: row wrap;     
    justify-content: space-evenly;
    justify-items: space-evenly;
}

#header{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

/* Tablet Media Query */
@media screen and (min-width: 640px){

}

/* Desktop Media Query */
@media screen and (min-width: 960px) {
        
}