body, html{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/782/943/697/inkwell-pen-ink-wallpaper-preview.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-color: chocolate;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: fit-content(90%);
    grid-template-areas: 
    "header"
    "article"
    "footer";
    text-align: center;
    justify-content: center;
    margin: 5vw 0 5vw 0;
    width: 100vw;
}

.container > *{
    display: flex;
    max-width: 95vw;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

header{
    grid-area: header;
    text-align: center;
    font: normal bold 5vw fantasy;
}

#subtitle{
    font-style: italic;
}

#side-nav{
    display: none;
    max-width: 25vw;
}

#lower{
    display: none;
    max-width: 25vw;
}

img{
    max-width: 25vw;
    float: center;
}

article{
    grid-area: article;
    border-style: double;
    border-width: 0.5vw;
    background-color: rgba(199, 152, 65, 0.801);
    padding: 1vw;
    font-size: 3vw;
    margin: 0 1vw 0 1vw;
}

#blog-title{
    font: italic bold 6vw cursive;
}

#byline{
    font-family: serif;
}

footer{
    grid-area: footer;
    flex-direction: row;
    justify-content: space-around;
}


@media screen and (min-width: 600px) {
    .container{
        grid-template-columns: auto auto;
        grid-template-areas: 
        "header header"
        "side-nav article"
        "side-nav article"
        "footer footer";
        margin: 0px 0px 0px 0px;
        width: 100vw;
    }

    #side-nav{
        grid-area: side-nav;
        display: block;
        width: 25vw;
        margin: 0 2.5vw 0 2.5vw;
    }

    article{
        width: 70vw;
        margin: 0 5vw 0 0;
    }

    header{
        grid-area: header;
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        margin: 0 auto;
    }

    header > h1{
        font-size: 8vw;
    }
}

@media screen and (min-width: 960px){
    .container{
        grid-template-areas:
        "header header"
        "article side-nav"
        "article lower"
        "footer footer";
    }
    
    img{
        max-width: 22vw;
    }

    #side-nav{
        font-size: 2vw;
        margin: 0 1vw 0 1vw;
        border-style: double;
        border-width: 0.5vw;
        background-color: rgba(199, 152, 65, 0.801);
        padding: 1vw;  
    }

    #lower{
        grid-area: lower;
        display: block;
        margin: 0 1vw 0 1vw;
        border-style: double;
        border-width: 0.5vw;
        background-color: rgba(199, 152, 65, 0.801);
        padding: 1vw;
    }

    #blogpost{
        font-size: 2vw;
    }
    #blog-title{
        font-size: 3vw;
    }
    #byline{
        font-size: 2vw;
    }
    article{
        margin: auto;
        width: 65vw;
    }
    header > h1{
        font-size: 7vw;
    }
}