body{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/782/943/697/inkwell-pen-ink-wallpaper-preview.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-color: chocolate;
}

.container{
    display: grid;
    grid-template-columns: fit-content(90%);
    grid-template-areas: 
    "header"
    "top-nav"
    "article"
    "footer";
    text-align: center;
    justify-content: center;
    margin: 5vw 0 5vw 0;
    width: 100vw;
}

.container > *{
    display: flex;
    max-width: 95vw;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

header{
    grid-area: header;
    text-align: center;

}

#subtitle{
    font-style: italic;
}

#side-nav{
    display: none;
}

article{
    grid-area: article;
    border

}

footer{
    /* display: inline-block; */
    grid-area: footer;
    flex-direction: row;
    justify-content: space-around;
}


/* @media screen and (min-width: 600px) {
    #side-nav{
        grid-area: side-nav;
        display: list-item;

    }
}

@media screen and (min-width: 960px){

} */