{% extends 'base.html' %}

{% block title %}Home — Shriek{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<!-- Once I add more information, this can change. Can still display whole site maybe but the login/logout is different -->
  {{ user.username }}!

  <form action="{% url 'posts:add_post' %}" method="post">
    {% csrf_token %}
    <label for="new_post">New Shriek:</label>
    <textarea id="new_post" name="new_post" maxlength="120" wrap="hard" required placeholder="Max length: 120 chars.">
</textarea>
    
    <input type="submit" value="Submit">
  </form>
  <p><a href="{% url 'logout' %}">Log Out</a></p>


{% else %}
  <p>You are not logged in</p>
  <p><a href="{% url 'login' %}">Log In</a></p>
  <p><a href="{% url 'signup' %}">Sign Up</a></p>
{% endif %}

{% if posts %}

{% for p in posts reversed %}
{{ p.user.username }} — {{ p.pub_date }}
{{ p.post_text }}<br \>
{% endfor %}

{% else %}
<p>Your feed is empty.</p>

{% endif %}
{% endblock %}