{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chirp Blog</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<header>
    <div class='main_title'>
        <h1><a href="{% url 'posts:home' %}">Chirp!</a></h1>
        <h2>The <em>Definitive</em> Blog for Kitties in the Know!</h2>
    </div>
    <div class='wrapper'>
        {% if user.is_authenticated %} {# make user log in before they can do anything #}
            <p id='name'>Welcome, <a href="{% url 'users:profile' user.username %}">{{ user.username }}</a></p>
            <p><a href="{% url 'logout' %}">Log Out</a></p>
            <p><a href="{% url 'posts:new' %}">Submit a New Post</a></p>
        {% else %}
            <p class='left'>Member  <a href="{% url 'login' %}">Log In</a></p>
            <p id='join'><a href="{% url 'users:signup' %}">Join </a>  the Chirp! Catmosphere and never miss another impurrtent post</p>
        {% endif %}
    </div>       
</header>
<body>    
    <div class='block_content'>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>