{% extends 'base.html' %}

{% block content %}

    {% for post in post_list %} {# or 'for post in object_list'#}
        <div class='post_list'>
            <h2><a href="{% url 'posts:Detail' post.id %}">{{ post.title }} </a></h2>
            <h3><a href="{% url 'users:profile' post.author.username %}">{{ post.author.username }}</a></h2>
            <h4><em> posted on{{ post.created_date }} </em></h4>
            <p> {{ post.body|linebreaksbr }} </p>
        </div>
    {% endfor %}

{% endblock content %}