<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS Lab 06</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/app.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>Welcome to the Quotes App</h1>
    <h3><a href="https://favqs.com/api/qotd/"></a></h3>
    <div id="app">
        <input id="search" type="text" v-model="userInput" placeholder="Search Quotes">
        <select name="searchType" id="searchType" v-model="typeChoice">
            <option value="keyword">keyword</option>
            <option value="author">author</option>
            <option value="tag">tag</option>
        </select><br>
        <button v-on:click="getQuote()">Search</button><br>
        <div v-for="(item, index) in output">
            "{{ item.body }}"<br>
            - {{ item.author }}<br><br>
        </div>
        <button v-model="currentPage" v-on:click="getQuote()">Next Page ></button>
        {{  }}

    </div>
</body>
</html>