<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS Lab 06</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/app.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>The Quotes App</h1><br>
    <div id="app">
        <h3>Quote of the Day:<br>
        "{{ qotd.body }}"<br>
        - {{ qotd.author }}</h3><br>
        <input id="search" type="text" v-model="userInput" placeholder="Search Quotes">
        <select name="searchType" id="searchType" v-model="typeChoice">
            <option value="keyword">keyword</option>
            <option value="author">author</option>
            <option value="tag">tag</option>
        </select>
        <button v-on:click="getQuote()">Search</button><br>
        <div v-for="(item, index) in output">
            "{{ item.body }}"<br>
            - {{ item.author }}<br>
            <save-quote v-bind:fav-quotes="item.body + ' - ' + item.author"></save-quote><br>
        </div>

        <!-- <component v-for="item in savedQuotes" :is="item.component" :item="item"> -->
        <!-- <div v-for="(item) in savedQuotes" :is="item.save-quote" :item="item">
            {{ item }}
        </div> -->
        <!-- {{ fav-quotes }} -->
        <!-- <button v-on:click="save-quote">Show Saved Quotes</button> -->
        
    </div>
</body>
</html>